body {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    height: 100%;
}

.bg {
    background-image: url("https://cdn.decorpad.com/photos/2019/03/05/gray-brushstrokes-modern-blue-ombre-wallpaper-mural.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body header {
    padding-top: 6px;
    text-align: center;
    margin-bottom: 8px;
}

body header span {   
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 18px;
}

body header span A {
    color: #000000;
}

.headdiv {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.middiv {
    text-align: center;
    font-size: 40px;
}

.middiv p {
    font-size: 18px;
    font-family: "Lato ",Helvetica, sans-serif;
    margin-top: 0px;
}

.borderdiv {
    margin-top: 10px;
    border-bottom: 2px solid black;
}

.selectordiv {
    margin-top: 25px;
    text-align: center;
    font-family: "Lato", Helvetica, sans-serif;
}

.tablediv {
    width: 100%;
}

h1, h2 {
    font-family: "Lato", Helvetica, sans-serif;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 45px;
    text-align: center;
}

.button {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.button a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 3px;
}

ul {
    margin-left: 10px;
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    flex-direction: column;
    height: 75%;
    margin: 0;
    padding: 10px;
    list-style: none;
}

li {
    font-size: 20px;
    width: 33%;
    float: left;
}

li a {
    color: black;
}








#num {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#a {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#b {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#c {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#d {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#e {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#f {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#g {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#h {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#i {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#j {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#k {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#l {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#m {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#n {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#o {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#p {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#q {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#r {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#s {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#t {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#u {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#v {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#w {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#x {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#y {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
#z {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Lato", Helvetica, sans-serif;
}
