
body {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    height: 100%;
}

.bg {
    background-image: url("https://cdn.decorpad.com/photos/2019/03/05/gray-brushstrokes-modern-blue-ombre-wallpaper-mural.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body header {
    padding-top: 6px;
    text-align: center;
    margin-bottom: 8px;
}

body header span {   
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 18px;
}

body header span A {
    color: #000000;
}

.headdiv {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.leftdiv {
    margin-top: 0px;
    float: left;
    width: 33%;
    height: 25%;
}

.bandimage {
    height: 150px;
    width: 150px;
}

.bandimage img {
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 20px;
    height: 250px;
    width: 250px;
}

.middiv {
    text-align: left;
    width: 33%;
    display: inline-block;
    font-size: 25px;
    height: 25%;
}

.middiv p {
    font-size: 18px;
    font-family: "Lato ",Helvetica, sans-serif;
    margin-top: 0px;
}

.rightdiv {
    margin-top: 0px;
    float: right;
    text-align: center;
    width: 33%;
    height: 25%;
}

.rightdiv p {
    margin-top: 0px;
    font-size: 16px;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: left;
}

.borderdiv {
    margin-top: 10px;
    border-bottom: 2px solid black;
}

.discogdiv {
    margin-top: 25px;
    text-align: center;
    font-family: "Lato", Helvetica, sans-serif;
}

.tablediv {
    width: 100%;
}

table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50%;
}

td img {
    float: left;
}

td span {
    display: inline-block;
    width: 285px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: "Lato", Helvetica, sans-serif;
    margin-bottom: 10px;
}

table, th, td {
    border: solid 2px black; 
    border-collapse: collapse;
}

img {
    width: 150px;
    height: 150px;
    margin: 5px;
}


h1 {
    font-size: 35px;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 35px;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 35px;
    font-family: "Lato", Helvetica, sans-serif;
}

h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
}

h5 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.tab {
    margin-left: 50px;
    font-size: 16px;
    line-height: 100%;
}